@charset "utf-8";

/* 
	New Perspectives on HTML5 and CSS3, 8th Edition
	E-Commerce Website Project		
		
	Author: Matthew Robertson
	Date:
*/

/* HTML, header, and nav styles */
html {
	min-width: 1342px;
	max-width: 2187px;
	margin: auto;
	background: linear-gradient(rgb(255,228,178) , rgb(255,201,102), rgb(207,156,62), rgb(255,201,102), rgb(255,228,178));
}

.header {
	background-color: #7c501a;
	text-align: center;
	border-radius: 25px;
}

.header h1 {
	background: linear-gradient(to top, rgb(255,228,178), rgb(255,201,102), rgb(255,165,0), rgb(204,132,0), rgb(153,99,0));
	color: transparent;
	background-clip: text;
	font-size: 75px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
}

#nav {
	background-color: rgb(153,99,0);
}

#nav ul {
	display: flex;
}

#nav ul li {
	list-style: none;
	margin: 0 auto;
	font-size: 17px;
}

#nav ul li a {
	text-decoration: none;
	color: #fff2cc;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}

#nav ul li a:hover {
	background: linear-gradient(to top, rgb(255,228,178), rgb(255,201,102), rgb(255,165,0), rgb(204,132,0), rgb(153,99,0));
	color: transparent;
	background-clip: text;
}

/* ======================================== */

#order {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

fieldset#custInfo h1 {
	color: #7c501a;
}

fieldset#orderDetails h2 {
	color: #7c501a;	
}

#custInfo {
	border: 2px solid #7c501a;
}

#orderDetails {
	border: 2px solid #7c501a;
	margin-top: 3px;
}

/* Order details */
textarea {
	margin-top: 10px;
	height: 150px;
	width: 50%;
}

label#name {
	color: #7c501a;
	font-size: 1em;
	font-weight: bold;
}

label#phone {
	color: #7c501a;
	font-size: 1em;
	font-weight: bold;
}

label#email {
	color: #7c501a;
	font-size: 1em;
	font-weight: bold;
}

label#pickupDate {
	color: #7c501a;
	font-size: 1em;
	font-weight: bold;
}

label#pickupTime {
	color: #7c501a;
	font-size: 1em;
	font-weight: bold;
}

label#items {
	color: #7c501a;
	font-size: 1em;
	font-weight: bold;
}

label#specialInstructions {
	color: #7c501a;
	font-size: 1em;
	font-weight: bold;
}

	

input[type="submit"], input[type="reset"] {
	font-size: 1em;
	padding: 5px;
	margin: 15px;
	background-color: #7c501a;
	color: #fff2cc;
}







/* ======================================== */
/* footer style */

footer {
	background-color: #7c501a;		
	border-radius: 25px;
}

.contact {
	color: #fff2cc;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-left: 50px;
}

.contact a {
	color: #fff2cc;
	text-decoration: none;
	transition: 0.5s ease-in-out;
}

.contact a:hover {
	background: linear-gradient(to top, rgb(255,228,178), rgb(255,201,102), rgb(255,165,0), rgb(204,132,0), rgb(153,99,0));
	color: transparent;
	background-clip: text;
}
