@charset "utf-8";

/* 
	New Perspectives on HTML5 and CSS3, 8th Edition
	E-Commerce Website Project		
		
	Author: Matthew Robertson
	Date:
*/


/* HTML, header, and nav styles */
html {
	min-width: 1342px;
	max-width: 2187px;
	margin: auto;
	background: linear-gradient(rgb(255,228,178) , rgb(255,201,102), rgb(207,156,62), rgb(255,201,102), rgb(255,228,178));
}

.header {
	background-color: #7c501a;
	text-align: center;
	border-radius: 25px;
}

.header h1 {
	background: linear-gradient(to top, rgb(255,228,178), rgb(255,201,102), rgb(255,165,0), rgb(204,132,0), rgb(153,99,0));
	color: transparent;
	background-clip: text;
	font-size: 75px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
}

#nav {
	background-color: rgb(153,99,0);
}

#nav ul {
	display: flex;
}

#nav ul li {
	list-style: none;
	margin: 0 auto;
	font-size: 17px;
}

#nav ul li a {
	text-decoration: none;
	color: #fff2cc;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}

#nav ul li a:hover {
	background: linear-gradient(to top, rgb(255,228,178), rgb(255,201,102), rgb(255,165,0), rgb(204,132,0), rgb(153,99,0));
	color: transparent;
	background-clip: text;
}

/* ======================================== */
/* Main body style */
article {
	box-shadow: 14px 0px 8px #7c501a, -14px 0px 8px #7c501a;
}

.stock { 
	display: flex;
	height: 600px;
	align-items: center;
	margin-left: 250px;	
}

.stock label {
	color: #7c501a;
	font-size: 1.5em;
	font-weight: bold;
}

/* ======================================== */
/* Body style class menu */
.menu  {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu h2 {
	color: #7c501a;
	font-size: 2.25em;
	justify-self: center;
	margin-bottom: 0;
	margin-left: 100px;
}
.menu > p {
	color: #7c501a;
	font-size: 1.5em;
	justify-self: center;
	margin-bottom: 0;
	margin-left: 100px;
}

/* ======================================== */
/* Body style class cookie */
.cookie {
	justify-items: center;
}

.cookie h1 {
	color: #7c501a;
	font-size: 2.25em;
	padding-top: 10px;
	margin-left: 100px;
}

.cookie img {
	display: block;
	width: 50%;
	border: 5px solid #7c501a;
	border-radius: 25px;
}

#chocolate-chip {
	width: 25%;
}

#oatmeal {
	width: 25%;
}

#peanut-butter {
	width: 25%;
}


#sugar {
	width: 25%;
}


/* ======================================== */
/* Body style class cake */
.cake {
	justify-items: center;
}

.cake h1 {
	color: #7c501a;
	font-size: 2.25em;
	padding-top: 10px;
	justify-self: center;
	margin-left: 100px;
}

.cake img {
	display: block;
	width: 50%;
	border: 5px solid #7c501a;
	border-radius: 25px;
}

#bunt {
	width: 25%;
}

#cookieCake {
	width: 25%;
}

#peanut-butter {
	width: 25%;
}


#sugar {
	width: 25%;
}

/* ======================================== */
/* Body style class pie */
.pie {
	justify-items: center;
}

.pie h1 {
	color: #7c501a;
	font-size: 2.25em;
	padding-top: 10px;
	justify-self: center;
	margin-left: 100px;
}

.pie img {
	display: block;
	width: 50%;
	border: 5px solid #7c501a;
	border-radius: 25px;
}

#bunt {
	width: 25%;
}

#cookieCake {
	width: 25%;
}

#peanut-butter {
	width: 25%;
}


#sugar {
	width: 25%;
}



/* ======================================== */
/* Button sytle */

.button {
	background-color: #7c501a; 
	color: #fff2cc;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	border-radius: 20px;
	transition: 0.6s ease;
	margin-bottom: 20px;
	margin-left: 75px;
}

.button:hover {
	background: linear-gradient(rgb(204,132,0), rgb(153,99,0));
	color: #7c501a;
}


/* ======================================== */
/* footer style */

footer {
	clear: both;
	background-color: #7c501a;		
	border-radius: 25px;
}

.contact {
	color: #fff2cc;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-left: 50px;
}

.contact a {
	color: #fff2cc;
	text-decoration: none;
	transition: 0.5s ease-in-out;
}

.contact a:hover {
	background: linear-gradient(to top, rgb(255,228,178), rgb(255,201,102), rgb(255,165,0), rgb(204,132,0), rgb(153,99,0));
	color: transparent;
	background-clip: text;
}
